agm-map {
    position: relative;
    height: 100%;
    width: 100%;
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.map-coordinates {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}

.map-details {
    text-align: center;
    font-size: 14px;
}
